header {
    background-image: url(IMG/pattern.png);
    background-color: rgb(0, 162, 255);
    background-size: 30%;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 0;

}

#logo {
    height: 50px;
    width: 240px;

}

.greytext {
    color: darkgrey;
    font-size: 13px;
}

.autore {
    color: rgb(0, 191, 255);
}

.description {
    font-size: 12px;
}

.table {
    background-color: rgba(0, 229, 255, 0.793);
}

.markup {
    background-color: gold;
}

thead {
    background-color: rgb(100, 132, 237);
}

#interessarti1 {
    color: white;
    background-image: url(IMG/monitor.jpg);
}

#interessarti2 {
    color: white;
    background-image: url(IMG/graph.jpg);
}